{% import "_includes/forms" as forms %}

{# frontendservices\mailcraft\models\Settings #}

{{ forms.textField({
    label: "Plugin Name"|t('mailcraft'),
    instructions: "How the plugin should be named in the CP"|t('mailcraft'),
    id: 'pluginName',
    name: 'pluginName',
    value: settings.pluginName,
    errors: settings.getErrors('pluginName'),
    first: true,
    autofocus: true,
    required: true,
}) }}

{{ forms.lightswitchField({
    label: "Use WYSIWYG Editor"|t('mailcraft'),
    instructions: "Whether to use a WYSIWYG editor for the email templates"|t('mailcraft'),
    id: 'useWysiwyg',
    name: 'useWysiwyg',
    on: settings.useWysiwyg,
    errors: settings.getErrors('useWysiwyg'),
}) }}

{# CKEditor setup if wysiwyg is enabled #}
{% if settings.useWysiwyg and craft.app.plugins.isPluginInstalled('ckeditor') %}
    <hr>

    <h2>{{ "CKEditor Settings"|t('mailcraft') }}</h2>
    {{ forms.componentSelectField({
        label: 'CKEditor Config'|t('ckeditor'),
        id: 'cke-config',
        name: 'ckeditor[ckeConfig]',
        options: plugin('ckeditor').ckeConfigs.getAll(),
        value: (settings.ckeditor.ckeConfig ?? false) ? plugin('ckeditor').ckeConfigs.getByUid(settings.ckeditor.ckeConfig) : null,
        limit: 1,
        createAction: 'ckeditor/cke-configs/edit',
    }) }}

    {{ forms.textField({
        id: 'word-limit',
        name: 'ckeditor[wordLimit]',
        label: 'Word Limit'|t('ckeditor'),
        value: settings.ckeditor.wordLimit ?? null,
        type: 'number',
        min: 0,
        step: 1,
        size: 5,
        errors: settings.getErrors('ckeditor.wordLimit'),
    }) }}

    {{ forms.lightswitchField({
        id: 'show-word-count',
        name: 'ckeditor[showWordCount]',
        label: 'Show word count'|t('ckeditor'),
        on: settings.ckeditor.showWordCount ?? false,
    }) }}

    {{ forms.lightswitchField({
        id: 'enable-source-editing-for-non-admins',
        name: 'ckeditor[enableSourceEditingForNonAdmins]',
        label: 'Show the “Source” button for non-admin users?'|t('ckeditor'),
        on: settings.ckeditor.enableSourceEditingForNonAdmins ?? false,
    }) }}

    {% set entryTypes = entryTypeRows ?? [] %}
    {{ forms.entryTypeSelectField({
        label: 'Entry Types'|t('app'),
        instructions: 'Choose the types of entries that can be created in this field.'|t('app'),
        id: 'entry-types',
        name: 'ckeditor[entryTypes][]',
        values: settings.ckeditor.entryTypes ?? [],
        create: true,
        errors: settings.getErrors('ckeditor.entryTypes'),
        data: {'error-key': 'entryTypes'},
    }) }}

    {{ forms.lightswitchField({
        id: 'expand-entry-buttons',
        name: 'ckeditor[expandEntryButtons]',
        label: 'Show toolbar buttons for entry types with icons'|t('ckeditor'),
        instructions: 'Whether entry types with icons should be shown as separate buttons in the toolbar.' |t('ckeditor'),
        on: settings.ckeditor.expandEntryButtons ?? false,
        reverseToggle: 'create-button-label-wrapper',
    }) }}

    {{ forms.textField({
        label: '“New” Button Label'|t('app'),
        instructions: 'The text label for the entry creation button.'|t('app'),
        id: 'create-button-label',
        name: 'ckeditor[createButtonLabel]',
        value: settings.ckeditor.createButtonLabel ?? null,
        errors: settings.getErrors('ckeditor.createButtonLabel'),
    }) }}

    <hr>

    <a class="fieldtoggle" data-target="assets">{{ 'Assets'|t('app') }}</a>
    <div id="assets" class="hidden">
        {{ forms.checkboxSelectField({
            id: 'availableVolumes',
            name: 'ckeditor[availableVolumes]',
            label: 'Available Volumes'|t('ckeditor'),
            instructions: 'The volumes that should be available when selecting assets.'|t('ckeditor'),
            options: volumeOptions,
            values: settings.ckeditor.availableVolumes ?? [],
            showAllOption: volumeOptions|length ? true : false
        }) }}

        {{ forms.checkboxSelectField({
            id: 'availableTransforms',
            name: 'ckeditor[availableTransforms]',
            label: 'Available Transforms'|t('ckeditor'),
            instructions: 'The transforms that should be available when inserting images.'|t('ckeditor'),
            options: transformOptions,
            values: settings.ckeditor.availableTransforms ?? [],
            showAllOption: transformOptions|length ? true : false
        }) }}

        {{ forms.selectField({
            id: 'defaultTransform',
            name: 'ckeditor[defaultTransform]',
            label: 'Default Transform'|t('ckeditor'),
            instructions: 'The default transform that should be applied when inserting an image.'|t('ckeditor'),
            options: defaultTransformOptions,
            value: settings.ckeditor.defaultTransform ?? null,
        }) }}

        {{ forms.checkboxField({
            label: 'Show unpermitted volumes'|t('ckeditor'),
            instructions: 'Whether to show volumes that the user doesn’t have permission to view.'|t('ckeditor'),
            id: 'showUnpermittedVolumes',
            name: 'ckeditor[showUnpermittedVolumes]',
            checked: settings.ckeditor.showUnpermittedVolumes ?? false,
        }) }}

        {{ forms.checkboxField({
            label: 'Show unpermitted files'|t('ckeditor'),
            instructions: 'Whether to show files that the user doesn’t have permission to view, per the “View files uploaded by other users” permission.'|t('ckeditor'),
            id: 'showUnpermittedFiles',
            name: 'ckeditor[showUnpermittedFiles]',
            checked: settings.ckeditor.showUnpermittedFiles ?? false,
        }) }}
    </div>

    <hr>

    <a class="fieldtoggle" data-target="advanced">{{ "Advanced"|t('ckeditor') }}</a>
    <div id="advanced" class="hidden">
        {{ forms.checkboxField({
            label: "Purify HTML"|t('ckeditor'),
            instructions: 'Removes any potentially-malicious code on save, by running the submitted data through {link}.'|t('ckeditor', {
                link: '<a href="http://htmlpurifier.org/" rel="noopener" target="_blank">HTML Purifier</a>',
            }),
            warning: 'Disable this at your own risk!'|t('ckeditor'),
            id: 'purify-html',
            name: 'ckeditor[purifyHtml]',
            checked: settings.ckeditor.purifyHtml ?? false,
            toggle: 'purifier-config-container'
        }) }}

        <div id="purifier-config-container"{% if not settings.ckeditor.purifyHtml ?? false %} class="hidden"{% endif %}>
            {{ forms.selectField({
                label: "HTML Purifier Config"|t('ckeditor'),
                instructions: "You can save custom {name} configs as {ext} files in {path}."|t('ckeditor', {
                    name: 'HTML Purifier Config',
                    ext: '`.json`',
                    path: '`config/htmlpurifier/`'
                }) ~
                ' <a href="http://htmlpurifier.org/live/configdoc/plain.html" rel="noopener" target="_blank">'~"View available settings"|t('ckeditor')~'</a>',
                id: 'purifier-config',
                name: 'ckeditor[purifierConfig]',
                options: purifierConfigOptions,
                value: settings.ckeditor.purifierConfig ?? null,
            }) }}
        </div>
    </div>

{% endif %}

{#
{{ forms.lightswitchField({
    label: "Show CC/BCC Fields"|t('mailcraft'),
    instructions: "Whether to show extra email fields (Reply To, CC and BCC ) in the email templates"|t('mailcraft'),
    id: 'showCcBcc',
    name: 'showCcBcc',
    on: settings.showCcBcc,
    errors: settings.getErrors('showCcBcc'),
}) }}
#}